<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php" colors="true" backupGlobals="false">
    <testsuites>
        <testsuite name="Tinify Magento Plugin Unit Test Suite">
            <directory suffix="Test.php">test/unit</directory>
        </testsuite>
        <testsuite name="Tinify Magento Plugin Integration Test Suite">
            <directory suffix="Test.php">test/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>Model</directory>
            <directory>Plugin</directory>
        </whitelist>
    </filter>
</phpunit>