<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product\Media\ConfigInterface" type="Magento\Catalog\Model\Product\Media\Config"/>

    <type name="Magento\Catalog\Model\Product\Image">
        <plugin name="Tinify_CompressImages::optimize_catalog_images" type="Tinify\Magento\Plugin\ImagePlugin" sortOrder="10"/>
    </type>

    <type name="Tinify\Magento\Model\OptimizableImage">
        <arguments>
            <argument name="logger" xsi:type="object">Tinify\Magento\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Tinify\Magento\Logger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">tinify</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
                <item name="debug" xsi:type="object">Magento\Framework\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </virtualType>
</config>
